In [1]:
x = 5 
y = 'John'
print(x)
print(y)

5
John

In [2]:
x = 4
x = 'Sally'
print(x)

Sally

In [4]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [5]:
x = 5 
y = 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

In [8]:
a = 4
A = 'Sally'
print(a)
print(A)

4
Sally

In [9]:
#Legal variable names.
myvar = 'John'
my_var = 'John'
_my_var = 'John'
myVar = 'John'
MYVAR = 'John' 
myvar2 = 'John'
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [10]:
#illegal variable names.
2myvar = 'John'
my-var = 'John'
my var = 'John'

SyntaxError: invalid decimal literal (773655069.py, line 2)

In [11]:
#Many Values to Multiple Variables
x,y,z = "Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
#unpacking a list
fruits = ["apple","banana","cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [16]:
x = 'Python '
y = 'is '
z = 'awesome'
print(x,y,z)
#or 
print(x+y+z)

Python  is  awesome
Python is awesome

In [17]:
x = 10 
y = 5 
print(x+y)

15

In [19]:
x = 5 
y = 'John'
print(x,y)

5 John

In [20]:
x = "awesome"
def func():
    print("Python is " + x)
func()

Python is awesome

In [21]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [22]:
def func():
    global x
    x = 'fantastic'
func()
print('Python is ' + x)

Python is fantastic