In [1]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a) #or 3 single quotes

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [4]:
a = "Hello, World!"
print(a[1])

e

In [6]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [7]:
#check word
txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [9]:
txt = "The best things in life are free!"
print("bebra" not in txt)

True

In [10]:
b = 'Hello, World!'
print(b[2:5])

llo

In [11]:
#Get the characters from the start to position 5 (not included)
b = 'Hello, World!'
print(b[:5])

Hello

In [14]:
#from 2 to the end
b = 'Hello, World!'
print(b[2:])

llo, World!

In [15]:
#Negative indexing 
#from o to d(not included)
b = 'Hello, World!'
print(b[-5:-2])

orl

In [16]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [18]:
#remove whitespace (before and after)
a = " Hello, World! "
print(a.strip())

Hello, World!

In [19]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [20]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [22]:
#concantenatiion 
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

In [23]:
age = 36
txt = f"I'm John, I am {age}"
print(txt)

I'm John, I am 36

In [24]:
#modify to display with 2 decimals
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [25]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [26]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [27]:
txt = 'banana'
x = txt.center(20)
print(x)

       banana

In [28]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [29]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x) #or index()

7

In [30]:
xt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [35]:
"""
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
"""
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [36]:
txt = "Demo"
x = txt.isidentifier()
print(x)
#(a-z) and (0-9), or underscores (_)

True

In [37]:
txt = "   "
x = txt.isspace()
print(x)

True

In [38]:
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

True

In [39]:
myTuple = ("John", "Peter", "Vicky")
x = " ".join(myTuple)
print(x)

John Peter Vicky